[user]
	email = james.matsuba@gmail.com
	name = James Matsuba
[core]
	excludesfile = /Users/jamesmatsuba/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
